
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="applicable-device" content="pc,mobile" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no">
<meta name="Robots" contect="all" />
<meta name="author" content="天晴创艺" />
<title>网站制作中中文的个性化设计_北京天晴创艺企业网站建设开发设计公司</title>
<meta name="description" content=",网站制作中中文的个性化设计" />
<meta name="keywords" content="网站制作,个性化设计,网站制作中中文的个性化设计,网站建设,网页设计" />
<meta property="og:type" content="article"/>
<meta property="og:url" content="./solution/16.html"/>
<meta property="og:title" content="网站制作中中文的个性化设计"/>
<meta property="og:image" content="./Upload/News/2018121654016385.jpg"/>
<meta property="og:release_date" content="2018/12/16"/>
<meta property="og:description" content=",网站制作中中文的个性化设计" />
<meta name="weibo:webpage:create_at" content="2018/12/16"/>
<meta name="weibo:webpage:update_at" content="2018/12/16"/>
<meta property="article:published_time" content="2018-12-16T00:00:00+08:00" />
<meta property="article:author" content="天晴创艺" />
<meta property="article:published_first" content="天晴创艺,./solution/16.html" />
<link rel="prev" title="网页设计平面广告视觉传达解决方案" href="./solution/17.html" />
<link rel="next" title="网页设计中的色彩与情绪" href="./solution/15.html" />
<link rel="canonical" href="./xiaoguotu/16.html" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="./rss/" />
<link rel="Shortcut Icon" type="image/x-icon" href="./images/favicon.ico" />
<link rel="dns-prefetch" href="./"/>
<link rel="stylesheet" type="text/css" href="./css/animate.css">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/css.css">
<link rel="stylesheet" type="text/css" href="./css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="./css/response.css">
<script type="text/javascript" src="./js/jquery.js"></script>
<script src="./js/web.js"></script>
<script type="text/javascript" src="./js/jquery.color-rgba-patch.js"></script>
<script type="text/javascript" src="./js/example.js"></script>
<script>
$(document).ready(function(){
  $(".yd_nav").click(function(){
  	$(".header").addClass("headerh");
  });
  $(".headerhx").click(function(){
  	$(".header").removeClass("headerh");
  });
});
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?300a01f0dd395f3cd095cabd70aa9bf1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<div class="header">
<div class="yd_nav"> <span></span> <span></span> <span></span> </div>
<div class="headerhx">&times;</div>
<div class="middle"> <a href="./" title="北京网站建设">
<div class="logo">网站建设</div>
</a>
<div class="nav_nav_logo"></div>
<div class="headerfr">
<div class="top">
<p class="top1">4006-234-116</p>
<p class="top2">13681552278</p>
<p class="top3"> <i class="iconfont">&#xe631;</i> <span><img src="./images/web_shouji.jpg" alt="手机版" /></span> </p>
<p class="top3"> <i class="iconfont">&#xe65d;</i> <span><img src="./images/weinxin_tq.jpg" alt="公众号" /></span> </p>
<p class="clear"></p>
</div>
<div class="m_nav">
<div class="nav-wrap">
<ul class="group" id="example-one">
<li><a href="./" title="网站建设">网站首页</a></li>
<li><a href="./about.html" title="关于天晴创艺" rel="nofollow">关于我们</a></li>
<li><a href="./anli_0_0_0_0_1.html" title="网站建设案例展示">成功案例</a></li>
<li><a href="./" title="网站建设">网站建设</a></li>
<li><a href="./seo/" title="网站定制">网络营销</a></li>
<li class="current_page_item"><a href="./solution/" title="行业网站解决方案">解决方案</a></li>
<li><a href="./info_list_1_1.html" title="建站资讯">新闻资讯</a></li>
<li class="linktxt"><a href="./city/quanguo/" title="全国网站建设公司排名">全国网站建设公司</a></li>
</ul>
</div>
</div>
</div>
<div class="clear"></div>
</div>
</div>
<div class="linktxt">天晴创艺网站建设公司。主要为<a href="./city/beijing/" title="北京网站建设公司">北京</a>、<a href="./city/tianjin/" title="天津网站建设公司">天津</a>等<a href="./city/quanguo/" title="全国网站建设公司排行榜口碑哪家好">全国</a>各地提供网站建设与网页设计制作服务，欢迎大家咨询。您的IP地址是：27.189.224.102。今天是：2020年02月23日,星期日,农历庚子年(鼠),二月初一，现在是：14:50:14，外面的天气不错吧，出去放松一下~</div>
<div class="ny_banner jjfa_banner news_banner">
<p class="jjfa_banner1 wow slideInDown" data-wow-duration="2s"><img src="./images/news_banner2.png" /></p>
</div>
<div class="news_details">
<div class="newsxq">
<div class="middle wow slideInDown"> 当前位置：<a href="./" title="网站建设">首页</a> &gt; <a href="./solution/" title="解决方案">解决方案</a> &gt; <a href="./solution/16.html" title="网站制作中中文的个性化设计">网站制作中中文的个性化设计</a></div>
</div>
<div class="newsxq_nr">
<div class="middle">
<div class="xq_fl">
<div class="newsxq_nrbt">
<h1 class="wow slideInLeft">网站制作中中文的个性化设计</h1>
<p class="newsxq_nrbtrq wow slideInRight"><span>作者：天晴创艺</span><span>发布时间：2018/12/16</span><span>浏览次数：14085</span><span>文章出处：<a href="./" title="网站建设">网站建设</a></span></p>
</div>
<div class="newsxq_nrtext wow slideInUp">&nbsp; &nbsp; &nbsp; 字体设计是视觉传达设计之基础。文字，是人类思想感情交流的必然产物，是记载历史、交流信息、表达情感的视觉符号。文字不仅在乎形 , 也在乎给人视觉上的优美感觉，这种追求美感的文字被称为字体设计。<br />
&nbsp; &nbsp; &nbsp; 在字体设计中 , 想富有独特的个性和风格，就需要对字体进行加工变形，形成符合设计构想的新字体。这样的设计作品才能具有新意，才能在同类或相近的作品中突显出来，从而达到设计创意的真正目的。<br />
&nbsp; &nbsp; &nbsp; 其实，不管是字母还是汉字，每一种字体都应拥有属于自己的独特情感元素，不同的字体带给我们的视觉感受是不一样的。<br />
&nbsp; &nbsp; &nbsp; 其实汉字本身就是设计，是一种成熟优美的抽象艺术。与西方的字母文字相比，汉字在平面设计中有着独体文字天然的、不可比拟的优势。<br />
<div style="text-align:center;">
<li>
<img src="/UserEdit/attached/image/20181216/20181216150087418741.jpg" width="680" height="830" title="个性化设计" alt="个性化设计" />
</li>
</div>
<br />
<strong><span style="color:#E53333;">&nbsp; &nbsp; &nbsp; 1.替代</span></strong><br />
&nbsp; &nbsp; &nbsp; 文字创造是一个对客观事物的观察随之抽象、提炼的过程。无论是简单的、抽象的汉字，还是象形性的汉字，要达到利用图形替代还能表达出确切的意念，其形象的选择是至关重要的。<br />
<div style="text-align:center;">
<li>
<img src="/UserEdit/attached/image/20181216/2018121615010667667.jpg" width="680" height="709" title="个性化设计" alt="个性化设计" />
</li>
</div>
<br />
&nbsp; &nbsp; &nbsp; &nbsp;在汉字设计中，为了使变形的文字得以辨识，可以抽出汉字中最能代表文字信息的部分笔画，以视觉化的图形图像来置换汉字的部分笔画元素。由于汉字单字成意、一字多义，不同的设计师创意的立足点也会有所不同，那在创作过程中 , 对于选择的图形与文字能否配合得相得益彰，且能够准确无误的表达主题思想，就显得尤为重要。<br />
<div style="text-align:center;">
<li>
<img src="/UserEdit/attached/image/20181216/20181216150288458845.jpg" width="680" height="817" title="个性化设计" alt="个性化设计" />
</li>
</div>
<br />
<strong><span style="color:#E53333;">&nbsp; &nbsp; &nbsp; 2.联想</span></strong><br />
&nbsp; &nbsp; &nbsp; 对设计师而言 , 思维的流畅性是一个首要的问题。设计师可以通过大胆的假设和联想，合乎情理的虚构，鬼斧神工般的把字体进行重新嫁接，创造出趣味性的巧合与相似。要达到这种境界，开放性发散思维是必不可少的。<br />
<div style="text-align:center;">
<li>
<img src="/UserEdit/attached/image/20181216/20181216150336083608.jpg" width="680" height="770" title="个性化设计" alt="个性化设计" />
</li>
</div>
<br />
<strong><span style="color:#E53333;">&nbsp; &nbsp; &nbsp; 3.图化</span></strong><br />
&nbsp; &nbsp; &nbsp; 汉字是一种表意文字，从最初的象形图形逐渐演变成指事、会意、形声等一体的“六书 ”体系。汉字设计也开始将所谓“读的符号 ”转变为“视的语言 ”，在视觉传达中承担着传递信息，进行沟通视知觉的作用。所以我们在进行汉字设计的时候，不仅要读还要看，既要读懂汉字的意义和内容，还要将汉字看作是图形， 研究笔画与空间的比例结构和分配组合关系。<br />
<p style="text-align:center;">
<br />
</p>
<li>
<img src="/UserEdit/attached/image/20181216/20181216150372497249.jpg" width="680" height="725" title="个性化设计" alt="个性化设计" />
</li>
<p>
<br />
</p>
<p style="text-align:left;">
（郑重声明：本文版权归原作者陈丹所有，转载文章仅为传播更多信息之目的，如有侵权，请联系我们删除；如作者信息标记有误，请联系我们修改。）
</p></div>
<div class="newsxq_nrlx wow slideInUp">
<p>文章来源：网站建设</p>
<p>文章标题：网站制作中中文的个性化设计</p>
<p>文本地址：./solution/16.html</p>
<p>版权所有&copy;转载时请您以链接形式注明来源！【<a href="javascript:window.external.AddFavorite(document.location.href,document.title)">收藏本页</a>】【<a href='javascript:window.print();'>打印</a>】【<a href="javascript:void();" onClick="window.close();return false;">关闭</a>】</p>
</div>
<div class="case_detaillyfry wow slideInUp"> <a href="#"><i class="iconfont">&#xe628;</i>关注微信公众号</a> <a href="#"><i class="iconfont">&#xe628;</i>关注官方微博</a> <a href="#"><i class="iconfont">&#xe628;</i>Rss订阅本站信息</a> <a href="#"><i class="iconfont">&#xe628;</i>在线咨询</a> </div>
<div class="newsxq_nrsx wow slideInLeft">
<ul>
<li>上一篇：<a href="./solution/17.html" rel="prev" title="网页设计平面广告视觉传达解决方案">网页设计平面广告视觉传达解决方案</a></li>
<li>下一篇：<a href="./solution/15.html" rel="next" title="网页设计中的色彩与情绪">网页设计中的色彩与情绪</a></li>
</ul>
</div>
</div>
<div class="xq_fr">
<div class="qt_tj wow slideInUp">
<div class="qt_tjnr tjzx">
<h2 class="case_frh1">最新资讯</h2>
<ul class="tjzxul">
<li><a href="./info_1563.html" title="修炼设计师难以被复制的能力" target="_blank">修炼设计师难以被复制的能力</a></li>
<li><a href="./info_1562.html" title="网站设计接我一标开启图标新的可能" target="_blank">网站设计接我一标开启图标新的可能</a></li>
<li><a href="./info_1561.html" title="网站设计设计师如何赚取更多的财富？" target="_blank">网站设计设计师如何赚取更多的财富？</a></li>
<li><a href="./info_1560.html" title="网站建设后需要美工的点缀和修饰" target="_blank">网站建设后需要美工的点缀和修饰</a></li>
<li><a href="./info_1559.html" title="城市街景设计研究中心网站制作已完成上线" target="_blank">城市街景设计研究中心网站制作已完成上线</a></li>
<li><a href="./info_1558.html" title="北京网站建设加强政治中心的优势" target="_blank">北京网站建设加强政治中心的优势</a></li>
</ul>
</div>
<div class="qt_tjnr tjfa">
<h2 class="case_frh1">最新方案</h2>
<ul class="tjzxul">
<li><a href="./solution/19.html" title="化妆品行业网站应包含哪些功能模块" target="_blank">化妆品行业网站应包含哪些功能模块</a></li>
<li><a href="./solution/18.html" title="信息沟通效果是网站建设项目实施的关键" target="_blank">信息沟通效果是网站建设项目实施的关键</a></li>
<li><a href="./solution/17.html" title="网页设计平面广告视觉传达解决方案" target="_blank">网页设计平面广告视觉传达解决方案</a></li>
<li><a href="./solution/16.html" title="网站制作中中文的个性化设计" target="_blank">网站制作中中文的个性化设计</a></li>
<li><a href="./solution/15.html" title="网页设计中的色彩与情绪" target="_blank">网页设计中的色彩与情绪</a></li>
<li><a href="./solution/14.html" title="图文排版基础解决方案" target="_blank">图文排版基础解决方案</a></li>
</ul>
</div>
<div class="qt_tjnr tjan">
<h2 class="case_frh1">最新案例</h2>
<ul class="tjanul">
<li><a href="./anli_info_129.html" title="众联永信网站案例欣赏" target="_blank">
<p><img src="./Upload/News/2019103135998285.jpg" alt="众联永信网站案例欣赏" /></p>
<span>众联永信网站案例欣赏</span></a></li>
<li><a href="./anli_info_128.html" title="春苗趣学院网站案例赏析" target="_blank">
<p><img src="./Upload/News/2019103034404229.jpg" alt="春苗趣学院网站案例赏析" /></p>
<span>春苗趣学院网站案例赏析</span></a></li>
<li><a href="./anli_info_127.html" title="泽溪林假发网站建设案例欣赏" target="_blank">
<p><img src="./Upload/News/2019102935970413.jpg" alt="泽溪林假发网站建设案例欣赏" /></p>
<span>泽溪林假发网站建设案例欣赏</span></a></li>
<li><a href="./anli_info_126.html" title="&#13431;度美妆网站案例欣赏" target="_blank">
<p><img src="./Upload/News/2019102835950633.jpg" alt="&#13431;度美妆网站案例欣赏" /></p>
<span>&#13431;度美妆网站案例欣赏</span></a></li>
<li><a href="./anli_info_125.html" title="境友环保网站案例欣赏" target="_blank">
<p><img src="./Upload/News/2019102263396037.jpg" alt="境友环保网站案例欣赏" /></p>
<span>境友环保网站案例欣赏</span></a></li>
<li><a href="./anli_info_124.html" title="AR联盟科技网站案例欣赏" target="_blank">
<p><img src="./Upload/News/2019102158689429.jpg" alt="AR联盟科技网站案例欣赏" /></p>
<span>AR联盟科技网站案例欣赏</span></a></li>
</ul>
</div>
<div class="qt_tjnr tjzx linktxt">
<h2 class="case_frh1">最新网站建设公司</h2>
<ul class="tjzxul">
<li><a href="./city/234.html" title="上海集锦信息科技有限公司" target="_blank">上海集锦信息科技有限公司</a></li>
<li><a href="./city/233.html" title="广州合优网络科技有限公司" target="_blank">广州合优网络科技有限公司</a></li>
<li><a href="./city/232.html" title="武汉金百瑞科技股份有限公司" target="_blank">武汉金百瑞科技股份有限公司</a></li>
<li><a href="./city/231.html" title="杭州博采网络科技有限公司" target="_blank">杭州博采网络科技有限公司</a></li>
<li><a href="./city/230.html" title="西安旭阳信息技术有限公司" target="_blank">西安旭阳信息技术有限公司</a></li>
<li><a href="./city/229.html" title="广州优网计算机科技有限公司" target="_blank">广州优网计算机科技有限公司</a></li>
</ul>
</div>
<script>
                $(".tjzxul li a").each(function() {
                if ($(this).text().length > 20) {
                    $(this).html($(this).text().replace(/\s+/g, "").substr(0, 20) + "...")
                }
                })
            </script>
</div>
</div>
</div>
</div>
</div>
<div class="linktxt">
<h4>客户评价</h4>
<ul>
<li>我们想做一个网站，找一家北京网站建设公司，你们是网站外包公司吗？都做个哪些案例呢？<span>2019/4/25</span></li>
<li>网站相当实惠，而且排版设计也不错，后台搭建简单明了，修改、发布、信息上传也很方便。特别是售后，任何相关问题不懂的都可以问，很不错的公司。 有好几次，因为自己不是太懂，所以中间弄错了几个地方，技术很负责任，都帮我又调好了。简单易学，服务到位，都要和他们成为朋友了，哈哈，推荐推荐。<span>2019/12/12</span></li>
<li>我想做一个企业网站，你们做网站多少钱，我要做响应式的网站，请问网站建设怎么收费呢？<span>2019/2/19</span></li>
<li>你们做的网站案例都很不错，请问做一个网站多少钱。<span>2019/2/21</span></li>
<li>工作认真负责，全程专人负责沟通，不停的完善细节，值得推荐！<span>2019/12/12</span></li>
<li>性价比挺高的定制网站！确实超出我们的预期.<span>2019/12/11</span></li>
<li>一个企业网站要多久可以做完呢，响应式网站是什么意思呢？<span>2019/2/21</span></li>
<li>我们想建一个网站，请问你们做网站多少钱，我们想做一个企业官网。<span>2019/3/4</span></li>
<li>非常好的一次合作。沟通很耐心！价格很实惠！真的非常推荐哦。我们的很多要求在和设计师的持续沟通后得到了完美的解决，挺专业的一家公司，以后会继续合作～<span>2019/12/11</span></li>
</ul>
</div>
<div class="yqlj">
</div>
<div class="foot">
<div class="middle">
<div class="footfl wow slideInLeft">
<p class="footfl_b">专业的网站建设、响应式、手机站微信公众号开发</p>
&copy; 2010-2019 天晴创艺 版权所有　京ICP备16050845号 </div>
<div class="footfr wow slideInRight">
<p> <img src="./images/weinxin_gzh.jpg" alt="关注公众号" /> <span>关注公众号</span> </p>
<p> <img src="./images/web_sjz.jpg" alt="进入手机版" /> <span>进入手机版</span> </p>
</div>
</div>
</div>
<script>	
$(document).ready(function(){
$(".top_fh ul li").hover(function(){
$(this).find(".right_1").stop().animate({"width":"150px"},200).css({"opacity":"1","filter":"Alpha(opacity=100)","background":"#c1082b"})	
},function(){
$(this).find(".right_1").stop().animate({"width":"62px"},200).css({"opacity":"0.8","filter":"Alpha(opacity=80)","background":"#656565"})	
});

});
function goTop(){
	$('html,body').animate({'scrollTop':0},600);
}
</script>
<div class="top_fh" id="zxqq1" style="display:block">
<ul>
<li><a href="./url.asp?u=http://p.qiao.baidu.com/cps/chat?siteId=10590401&userId=22902157" target="_blank" class="right_1" rel="nofollow"><i>1</i><img src="./images/aa.gif" alt="在线咨询" />&nbsp;&nbsp;&nbsp;点击咨询</a></li>
<li><a class="right_1 right_2"><img src="./images/wx.png" width="微信公众号" />&nbsp;&nbsp;&nbsp;<img src="./images/ewmg.jpg" class="xfimg" alt="微信公众号" width="130" /></a></li>
<li><a href="tel://4006-234-116" class="right_1" rel="nofollow"><img src="./images/xr3.png" alt="联系电话" />&nbsp;&nbsp;&nbsp;4006-234-116</a></li>
<li><a href="javascript:goTop();" class="right_1" rel="nofollow"><img src="./images/xr4.png" alt="返回页面顶部" />&nbsp;&nbsp;&nbsp;返回顶部</a></li>
</ul>
</div>
<script src="./js/wow.js"></script>
<script>
  wow = new WOW(
	{
	  animateClass: 'animated',
	  offset:       100,
	  callback:     function(box) {
		console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
	  }
	}
  );
  wow.init();
  document.getElementById('moar').onclick = function() {
	var section = document.createElement('section');
	section.className = 'section--purple wow fadeInDown';
	this.parentNode.insertBefore(section, this);
  };
</script>
<script src="./js/foot_yqlj.js"></script>
<script src="./js/online.js"></script>
</body></html>